// fuente blue eyes
@font-face 
    font-family: blue_eyes
    src: url("../font/blue_eyes.otf")
// colores
$gris_dark: rgba(35,35,35,0.6)
$fondo: rgba(40,40,40,0.8)
$primario: rgba(230,122,0,1)
$secundario: rgba(200,92,0,1)
$checked: rgba(40,40,40,1)